@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@tailwind utilities;

.lexend {
  font-family: "Lexend", sans-serif;
}

.oswald {
  font-family: "Oswald", sans-serif;
}

@theme {
  --color-amarillo: #ffda27;
  --color-amarillo-transparente: #ffda271f;
  --color-amarillo-oscuro: #e6c223;
  --color-amarillo-claro: #ffea4d;

  --color-naranja: #ee7859;
  --color-naranja-oscuro: #cf6843;
  --color-naranja-claro: #ff8c6a;
  --color-naranja-transparente: #ee78591f;

  --color-rosa: #ec68a4;
  --color-rosa-oscuro: #c4558f;
  --color-rosa-claro: #f29acb;
  --color-rosa-transparente: #ec68a41f;

  --color-verde: #bdc10c;
  --color-verde-transparente: #bdc10c1f;
  --color-verde-oscuro: #9fa30a;
  --color-verde-claro: #d4d70f;

  --color-oscuro: #170b0f;
  --color-oscuro-transparente: #170b0fc4;
}

@layer utilities {

  .bg-amarillo { background-color: var(--color-amarillo); }
  .bg-amarillo-oscuro { background-color: var(--color-amarillo-oscuro); }
  .bg-amarillo-claro { background-color: var(--color-amarillo-claro); }
  .bg-amarillo-transparente { background-color: var(--color-amarillo-transparente); }

  .bg-naranja { background-color: var(--color-naranja); }
  .bg-naranja-oscuro { background-color: var(--color-naranja-oscuro); }
  .bg-naranja-claro { background-color: var(--color-naranja-claro); }
  .bg-naranja-transparente { background-color: var(--color-naranja-transparente); }

  .bg-rosa { background-color: var(--color-rosa); }
  .bg-rosa-oscuro { background-color: var(--color-rosa-oscuro); }
  .bg-rosa-claro { background-color: var(--color-rosa-claro); }
  .bg-rosa-transparente { background-color: var(--color-rosa-transparente); }

  .bg-verde { background-color: var(--color-verde); }
  .bg-verde-oscuro { background-color: var(--color-verde-oscuro); }
  .bg-verde-claro { background-color: var(--color-verde-claro); }
  .bg-verde-transparente { background-color: var(--color-verde-transparente); }

  .bg-oscuro { background-color: var(--color-oscuro); }
  .bg-oscuro-transparente { background-color: var(--color-oscuro-transparente); }

  .border-amarillo { border-color: var(--color-amarillo); }
  .border-naranja { border-color: var(--color-naranja); }
  .border-rosa { border-color: var(--color-rosa); }
  .border-verde { border-color: var(--color-verde); }
  .border-oscuro { border-color: var(--color-oscuro); }

  .border-amarillo-transparente { border-color: var(--color-amarillo-transparente); }
  .border-naranja-transparente { border-color: var(--color-naranja-transparente); }
  .border-rosa-transparente { border-color: var(--color-rosa-transparente); }
  .border-verde-transparente { border-color: var(--color-verde-transparente); }
  .border-oscuro-transparente { border-color: var(--color-oscuro-transparente); }

  .hover\:bg-amarillo-oscuro:hover { background-color: var(--color-amarillo-oscuro); }
  .hover\:bg-naranja-oscuro:hover { background-color: var(--color-naranja-oscuro); }
  .hover\:bg-rosa-oscuro:hover { background-color: var(--color-rosa-oscuro); }
  .hover\:bg-verde-oscuro:hover { background-color: var(--color-verde-oscuro); }

  .active\:bg-amarillo-claro:active { background-color: var(--color-amarillo-claro); }
  .active\:bg-naranja-claro:active { background-color: var(--color-naranja-claro); }
  .active\:bg-rosa-claro:active { background-color: var(--color-rosa-claro); }
  .active\:bg-verde-claro:active { background-color: var(--color-verde-claro); }

  .focus\:outline-amarillo-oscuro:focus { outline-color: var(--color-amarillo-oscuro); }
  .focus\:outline-naranja-oscuro:focus { outline-color: var(--color-naranja-oscuro); }
  .focus\:outline-rosa-oscuro:focus { outline-color: var(--color-rosa-oscuro); }
  .focus\:outline-verde-oscuro:focus { outline-color: var(--color-verde-oscuro); }
  .focus\:outline-oscuro:focus { outline-color: var(--color-oscuro); }
}
